<h3 class = "title"><%= content_tag :div, "Edit Post", class: "text-glow" %> </h3>
<%= render partial: 'form', locals: {blog: @blog}  %>
<br/>
<button class = "text-glow"><%= link_to "Blog Post", blog_path %></button>