<h1 class = "title"> <%= content_tag :div, "Cyber Punk Blogging Ring", class: "text-glow" %> </h1>
<ul>
<% @blogs.each do|blog| %>
<li class = "text-glow"> <%= link_to blog.title, blog_path(blog) %> </li>
<% end %>
</ul>

<button class = "text-glow"><%= link_to 'Create Blog Post', blog_new_path %></button>

