body{
background-image: url('Cyberpunk_background.webp');
background-size: cover;
}

.text-glow {
  color: #fff; /* Text color */
  text-shadow: 0 0 10px #00ff00, /* Glow color and size */
               0 0 20px #00ff00, /* Glow color and size */
               0 0 30px #00ff00, /* Glow color and size */
               0 0 40px #00ff00; /* Glow color and size */
}

.title{
  display: flex;
  justify-content: center;
}

li{
  list-style-type: none;
  text-decoration: none !important;
}


